.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.help-button:hover {
    background-color: pink;
}

.chat-popup {
    position: fixed;
    bottom: 80px; 
    right: 20px;
    width: 300px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; 
}

/* .chat-popup input {
    position: fixed;
    bottom: 1000px;
    right: 2000px;
    animation: floatToLeftTop 150s linear forwards;
} */

/* .chat-popup button {
    animation-name: floatToLeftTopButtons;
    animation-duration: 50s; 
    animation-fill-mode: forwards; 
    position: fixed;
} */

.chat-content {
    height: 200px; 
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

.chat-message {
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 20px;
    width: fit-content;
    max-width: 80%;
}

.user-message {
    background-color: blue;
    color: white;
    align-self: flex-end;
    margin-left: auto; /* Align to the right */
}

.bot-message {
    background-color: #f1f1f1;
    align-self: flex-start;
    margin-right: auto; /* Align to the left */
}

/* .animate {
    animation-name: floatToLeftTop;
    animation-duration: 100s;
    animation-fill-mode: forwards;
    position: fixed;
} */

@keyframes floatToLeftTop {
    from {
        bottom: 80px;
        right: 20px;
    }
    to {
        top: 20px;
        left: 20px;
    }
}

.typing-animation {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 130px;
    margin-left: 10px;
}

.typing-animation span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 3px;
    animation: typing 1s infinite ease;
}

.typing-animation span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-animation span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}