<div class="music-player">
    <h2>Music Player</h2>
    <h6>(spacebar)</h6>
    <audio #audioPlayer>
      <source src="assets/never-gonna-give-you-up.MP3" type="audio/mpeg" />
    </audio>
    <div class="controls">
    <mat-icon (click)="toggleCaptchaBox()">volume_up</mat-icon>
      <div>
        <div class="arrow arrow-play"></div>
        <button class="play">Play</button>
      </div>
      <div>
          <div class="arrow arrow-pause" ></div>
          <button class="pause">Pause</button>
      </div>
      <div>
          <div class="arrow arrow-mute" ></div>
          <button class="mute">Mute</button>
      </div>
      <div>
          <div class="arrow arrow-unmute" ></div>
          <button class="unmute">Unmute</button>
      </div>
        <input type="range" class="volume-slider" min="0" max="1" step="0.01" (input)="setVolume($event)">
      <div class="progress-control">
        <!-- <input type="range" class="progress-slider" min="0" [max]="audioDuration" step="0.01" (input)="seek($event)"> -->
      </div>
    </div>
    <div *ngIf="showCaptchaBox" class="captcha-box" (change)="onCheckboxChange()">
        <input type="checkbox" id="captchaCheckbox">
        <label for="captchaCheckbox">I'm not a robot</label>
    </div>
    <div *ngIf="currentQuestion" class="trivia-container">
        <p>{{ currentQuestion.question }}</p>
        <ul>
            <li *ngFor="let option of currentQuestion.options" (click)="checkAnswer(option)">{{ option }}</li>
        </ul>
        <div class="timer-container">
            <span class="timer">{{ timer }}</span>
        </div>
    </div>
    <div *ngIf="showForm" class="volume-container">
        <div *ngFor="let cursor of cursors" 
            class="custom-cursor" 
            [ngStyle]="{'left.px': cursor.x, 'top.px': cursor.y}"

            >
        </div>
        <input type="range" class="volume-slider" min="0" max="1" step="0.01" (input)="setVolume($event)">
        <div class="timer-container">
            <span class="timer">{{ timer }}</span>
        </div>
        <!-- <div>
            <label>Ambient Noise Level (in decibels):</label>
            <input type="number" name="noiseLevel" [(ngModel)]="ambientValue" required>
        </div>
        <div>
            <label>Desired Audio Quality (1-10):</label>
            <input type="number" name="audioQuality" [(ngModel)]="quality" min="1" max="10" required>
        </div>
        <div>
            <label>Distance From Speaker (in meters):</label>
            <input type="number" name="distance" [(ngModel)]="distance" required>
        </div>
        <div>
            <label>User's Mood (-5 to 5):</label>
            <input type="number" name="mood" min="-5" max="5" [(ngModel)]="mood" required>
        </div>
        <button type="submit">Change Volume</button> -->
    </div>
    <div *ngIf="showWrongAnswerImage" class="wrong-container">
        <img src="assets/giphy.gif" alt="Wrong Answer">
        <p>WRONG</p>
    </div>
    
  </div>